<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
					    ">

	<context:property-placeholder location="classpath:application.properties"/>
	
 

	<!-- <bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:config.properties" />
	</bean> -->
	
	<bean
		id="settings"
		class="ca.empowered.nms.simulator.config.Settings">
		<property name="appName" value="${eni.nms.simulator.AppName}" />
		<property name="restServerIP" value="${eni.nms.simulator.rest.server.ip}" />
		<property name="restServerPort" value="${eni.nms.simulator.rest.server.port}" />
		<property name="restServerPath" value="${eni.nms.simulator.rest.server.path}" />
		<property name="restDestinationURL" value="${eni.nms.simulator.rest.destination.url}" />
		<property name="restClientEnabled" value="${eni.nms.simulator.rest.client.enabled}" />
		<!-- TODO: change 2 -->
		<property name="hostCount" value="${eni.nms.simulator.count.Host}" />
		<property name="hostLevel" value="${eni.nms.simulator.level.Host}" />
		<property name="webApplicationCount" value="${eni.nms.simulator.count.WebApplication}" />
		<property name="webApplicationLevel" value="${eni.nms.simulator.level.WebApplication}" />
		<property name="cardCount" value="${eni.nms.simulator.count.Card}" />
		<property name="cardLevel" value="${eni.nms.simulator.level.Card}" />
		<property name="loadBalancerCount" value="${eni.nms.simulator.count.LoadBalancer}" />
		<property name="loadBalancerLevel" value="${eni.nms.simulator.level.LoadBalancer}" />
		<property name="routerCount" value="${eni.nms.simulator.count.Router}" />
		<property name="routerLevel" value="${eni.nms.simulator.level.Router}" />
		<property name="switchCount" value="${eni.nms.simulator.count.Switch}" />
		<property name="switchLevel" value="${eni.nms.simulator.level.Switch}" />
		<property name="interfaceCount" value="${eni.nms.simulator.count.Interface}" />
		<property name="interfaceLevel" value="${eni.nms.simulator.level.Interface}" />
		<property name="bgpSessionCount" value="${eni.nms.simulator.count.BGPSession}" />
		<property name="bgpSessionLevel" value="${eni.nms.simulator.level.BGPSession}" />
		<property name="networkConnectionCount" value="${eni.nms.simulator.count.NetworkConnection}" />
		<property name="networkConnectionLevel" value="${eni.nms.simulator.level.NetworkConnection}" />
		<property name="evenlyDistributeRelationships" value="${eni.nms.simulator.relationships.distribution.even}" />
		<property name="randomizeEventGeneration" value="${eni.nms.simulator.events.randomize}" />
		<property name="nodeNameSuffix" value="${eni.nms.simulator.node.name.suffix}" />
	</bean>
	
	<bean
		id="jsonConfigurations"
		class="ca.empowered.nms.simulator.config.JsonConfigurations">
		<constructor-arg type="java.lang.String" value="config.json" />
	</bean>
	
	<bean
		id="nodeManager"
		class="ca.empowered.nms.simulator.api.NodeManager"
		init-method="init">	
		<property name="eventObserver" ref="eventObserver" />
		<property name="nodeTemplates" value="#{jsonConfigurations.nodeTemplates}" />
	</bean>
	
	<bean
		id="eventObserver"
		class="ca.empowered.nms.simulator.event.EventObserver">	
	</bean>
	
	<bean
		id="restServer"
		class="ca.empowered.nms.simulator.api.rest.RestServer">	
	</bean>
	
	<bean
		id="graphManager"
		class="ca.empowered.nms.simulator.ui.GraphManager">	
	</bean>

</beans>